* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-box {
  width: 16px;
  height: 16px;
  background-color: white;
}

.container {
  border: 3px solid rgb(201, 139, 69);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 1px; */
}
.cont {
  display: flex;
  /* gap: 1px; */
}
